.register {
   height: calc(100vh - 60px);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.3)), url('https://images.pexels.com/photos/207247/pexels-photo-207247.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
   background-repeat: no-repeat;
   background-size: cover;
   background-position:center center;
}


.registerTitle {
   font-size: 50px;
}
.registerForm {
   margin-top: 20px;
   display: flex;
   flex-direction: column;

}

.registerForm label {
   margin: 10px 0
}
.registerForm input {
   padding: 10px;
   background-color: #fff;
   border: none;
}
.registerButton,.registerLoginButton {
   margin-top: 1.25rem;
   cursor: pointer;
   background-color:teal;
   color: white;
   border: none;
   border-radius: 3px;
   padding: 10px 0;
   font-weight: bold;

}
.loginText {
   margin-top: 1.75rem;
   color: #1d1d1d;
}

.registerLoginButton{
    margin-top: .5rem; 
    background-color: #232323; 
    color: teal;
    font-weight: bold;
}